.main {
  margin-top: 50px;
}
.head {
  right: 40px;
  top: 10px;
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 4px rgb(40, 75, 100);
  color: rgba(218, 232, 248, 0.85);
}
.listHead {
  margin-top: 2vh;
  margin-bottom: 3vh;
  margin-left: 9vw;
  padding: 5px;
  color: rgb(29, 46, 77);
}
