html,
body {
  max-width: 100%;
  scroll-behavior: auto;
}
.container {
  max-width: 100%;
  margin: 0px auto;
  margin-top: 3vh;
  text-align: center;
}

.comment {
  width: 100%;
  height: auto;
}

.textinput {
  width: 100%;
  min-height: 40vh;
  max-width: 80vw;
  outline: none;
  resize: none;
  border: 1px solid grey;
}
button {
  margin-top: 2vh;
  border-width: 0px;
  outline: none;
  border-radius: 30%;
  width: 10vw;
  padding: 5px;
  margin: 3px;
}
