.articles {
  border-radius: 8px;

  background-color: rgb(164, 208, 245);
  box-shadow: 2px 3px 4px 3px rgb(58, 48, 50);
  width: 80vw;
  opacity: 0;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation-name: popin;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
.back {
  background-color: rgb(253, 253, 253);
}
.date {
  font-size: 15px;
  right: 10vw;
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.flex {
  display: flex;
  align-items: center;
}
#article {
  font-weight: bold;
  font-size: 18px;
  margin-left: 2vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.body {
  margin-left: 8vw;
  font-size: 15px;
  font-style: italic;
}
.right {
  justify-content: flex-end;
}
#author {
  font-size: 12px;
  padding: 4px;
  font-style: italic;
}
#postButton {
  background-color: rgb(164, 208, 245);
  border-width: 0px;
  color: rgb(37, 37, 71);
  opacity: 0.8;
}
.fa-eye {
  color: rgb(97, 59, 122);
}
.fa-location-arrow,
#open {
  margin-right: 3vw;
  font-style: italic;
  opacity: 0.7;
}
.fa-location-arrow {
  text-shadow: 2px 3px 2px rgb(58, 58, 119);
}
.fa-heart {
  color: rgb(172, 37, 37);
  margin-right: 3vw;
}
